*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 1;
}

.container{
    width: 80%;
    margin:0 auto;
 
}


#herosection{
    
    width: 100%;
    height:100vh;
    padding-top:5rem;
}

.herosectioncontent{
    display: grid;
    grid-template-columns: 300px 400px;
}

.herofirstcontentbutton a:first-of-type{
    display: inline-block;
    padding:0.5rem 2rem;
}
.herofirstcontentbutton a{
  border:2px solid white;
  padding:0.5rem 1rem;
  display: inline-block;
  margin-right: 1.5rem;
  border-radius: 10px;
  transition:.5s ease-in;
}


.herofirstcontentbutton a:hover{
    background: red;
}



.herosecondcontentimage img{
    width: 100%;
    height:400px
}


#aboutmeheading{
    text-align: center;
    margin-bottom: 1.5rem;
}

#aboutmeheading h1{
    font-size:2rem;
  
}


.aboutmecontent{
    grid-template-columns: 500px 300px;
    gap:1.5rem;
    justify-content: center;
}
.aboutmetext{
    margin: auto;
}

.aboutmeimage{
  width: 100%;
}


.aboutmeimage img{

        width: 400px;
  
    
}

.aboutmetext{
  width: 80%;
  color:white;
}

.aboutmetext p{
    font-size:1.5rem;
}

.aboutmeimage{
    width: 60%;
}

/* navbar section  */
.navbarcontainer{
    width: 80%;
    margin:0 auto;
    display: flex;
   justify-content: space-between;
    gap:0rem;
    padding: 0.7rem 0rem;
}

.toggle{
    display: none;
}

.fa-solid{
 
    display: none !important;
}



/* project skills  */

#project{
    padding-top:3.7rem;
}

.projectimageshadow{
    background-color: rgba(0,0,0,0.5);

}

.projectsection{
  display: grid;
   grid-template-columns: repeat(2,335px);
   justify-content: center;
   column-gap: 4rem;
   row-gap: 2rem;

}

/* .projectlayer a{
   margin:6rem 10rem;
} */














 
.showfirstwebsitelayer.showlayer{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 165px;
  
}

.showwebsitetwolayer.showsecondwebsitelayer{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 150px;
}

.showwebsitethreelayer.showthirdwebsitelayer{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 165px;
}



form{
    width: 600px;
 
}

.inputgroup,input,textarea,button{
    width: 100%;
}

input,textarea{

    outline: none;
}



#Skills{
    padding-top: 2rem;
}
.myskills{
    /* display: grid;
    grid-template-columns: repeat(2,390px);
    justify-content: center; */

    display:flex;

}




@media screen and (max-width:1240px){

    #aboutme{
        padding-top:15rem;
    }
        #Skills{
            padding-top:5rem;
        }
    }

@media(max-width:340px){
    .aboutmecontent{
        grid-template-columns: 200px;
        gap:1.5rem;
        justify-content: center;
    }

    .herosectioncontent{
        display:grid;
        grid-template-columns: auto;
     }
 
     .herosecondcontentimage{
         width: 100%;
     }
 
     .herosecondcontentimage img{
         width: 100%;
     }
 
     /* skills section  */
 
     #Skills{
         padding-top:35rem;
     }

}

@media(max-width:640px){

    #aboutme{
        padding-top:25rem;
    }

.aboutmecontent{
    grid-template-columns: 400px;
    gap:1.5rem;
    justify-content: center;
}

    .navbarlistcontent{
        position: fixed;
        top:0;
        right: -100%;
        width: 100%;
        height:100%;
        background-color: white;
        transition: .5s ease-in;
    }
  
    .navbarlistcontent.shownavbar{
        right: 0;
    }
    .toggle{
        display: block;
    }

    .fa-xmark{
        display: block !important;
    }

    
    .fa-bars{
        display: block !important;
    }


    .herosectioncontent{
        display:grid;
        grid-template-columns: 400px;
     }
 
     .herosecondcontentimage{
         width: 100%;
     }
 
     .herosecondcontentimage img{
         width: 100%;
     }
 
     /* skills section  */
 
     #Skills{
         padding-top:3rem;
     }


.projectsection{
    display: flex;
    flex-direction: column;
}
   
    .myskills{
       display: flex;
       flex-direction: column;
    
    }

/* 
    .projectsection{
        flex-direction: column;
        gap:3rem;
    } */


    .upperinput{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
   
    }
    
    .inputgroup{
        width: 60%;
    }

    form{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #massage{
        width: 100%;
    }

    .text-arealabel{
        left:15rem;
    }

}


@media (min-width:641px) and (max-width:736px){
    #aboutme{
        padding-top:25rem;
    }

    .aboutmetext p{
     font-size:1rem;
      }

    .aboutmecontent{
        grid-template-columns: 300px 300px;
        gap:1.5rem;
        justify-content: center;
    }

    .herosectioncontent{
       display:grid;
       grid-template-columns: 500px;
    }

    .herosecondcontentimage{
        width: 100%;
    }

    .herosecondcontentimage img{
        width: 100%;
    }

    /* skills section  */

    #Skills{
        padding-top:10rem;
    }

    .myskills{
      display: grid;
      grid-template-columns: repeat(2,300px);
      justify-content: center;
     
     }


    .projectsection{
        display: flex;
        flex-wrap: wrap;
    
        justify-content: center;
        row-gap: 1rem;
        column-gap: 2rem;
       
    }

    .projectcontent{
        width: 40%;
    } 

}